a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a.box:hover {
    color: blue;
}

.br-line {
    margin-top: 20px;
    width: 100%;
    border: none;
    height: 0px;
    border-top: 1px solid #E0E0E0;
}

.f-box {
    display: flex;
}

.f-box-ac {
    align-items: center;
}

.f-box-jsb {
    justify-content: space-between;
}

.f-box-jc {
    justify-content: center;
}

.f-box-fww {
    flex-wrap: wrap;
}

.header {
    background: #24436F;
    width: 100%;
    height: 75px;
}

.header-container {
    width: 1126px;
    height: 75px;
    margin: auto;
}

.header-small-container {
    width: 100%;
    height: 30px;
    padding-top: 13px;
    border-radius: 0px;
}

a.logo {
    font-size: 12px;
    line-height: 18px;
    color: #BFC9D7;
    width: 485px;
    height: 30px;
    text-decoration: none;
}

a.logo .frame, a.logo .text {
    display: block;
}

a.logo .frame {
    width: 122px;
    height: 22px;
}

a.logo .text {
    width: 335px;
    vertical-align: middle;
    margin-left: 15px;
}

.release {
    width: 316px;
    background: #345584;
    border-radius: 4px;
    margin-left: 36px;
}

ul {
    list-style-type: none;
}

ul.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul > li {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

li:nth-child(even) {
    display: flex;
    align-items: center;
}

li.item:nth-child(even)::before,
li.item:nth-child(even)::after {
    content: '';
    display: block;
    width: 13px;
    height: 0px;
    border: none;
    border-top: 1px solid #BFC9D7;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.keyword {
    display: flex;
    width: 288px;
    height: 30px;
    margin-left: 11px;
}

.form-search {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.form-search input {
    border: none;
    width: 258px;
    height: 30px;
    font-size: 13px;
    background: #FFFFFF;
    border-radius: 4px 0px 0px 4px;
    padding-left: 15px;
}

.form-search input::placeholder {
    color: #BBBBBB;
}

.form-search button {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: #3081C9 url("../images/search.png") no-repeat center;
    border-radius: 0px 4px 4px 0px;
}

.form-search input:focus, button:focus {
    outline: none;
}

.main-header {
    margin-top: 8px;
}

.main-header li.active>a {
    color: #FFFFFF;
    font-weight: bold;
}

.main-header li>a {
    color: #BFC9D7;
}

.category-header {
    width: 100%;
}

ul.nav-list {
    width: 1126px;
    height: 36px;
    list-style-type: none;
    margin: 0px auto;
}

ul.nav-list li>a {
    margin: 0px 8px;
    font-size: 13px;
    line-height: 21px;
    color: #294C7A;
}

ul.nav-list li.active>a {
    font-weight: bold;
}

ul.col-3 > li, ul.col-3 > li > a {
    display: block;
    height: 13px;
    color: #797979;
    margin: 18px 0px;
}

.item-title {
    display: block;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
}

.category-header::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    background: #e4e4e4;
}

.ranking {
    width: 100%;
    min-height: 263px;
    background: #F1F1F1;
}

.ranking-body {
    width: 1126px;
    box-sizing: border-box;
    padding: 0px;
}

ol.ranking-list {
    width: 100%;
    list-style-type: none;
    counter-reset: number;
}

ol.ranking-list li > a:hover {
    text-decoration: none;
}

ol.ranking-list li > a:hover .title {
    text-decoration: underline;
}

.box {
    position: relative;
    display: block;
    width: 181px;
    height: 218px;
    background: #FFFFFF;
}

.box > .box-number {
    width: 24px;
    height: 24px;
    background: #294C7A;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
}

.box-number:before {
    content: '1';
    display: block;
    text-align: center;
    content: counter(number);
    counter-increment: number;
}

.box > .box-image {
    display: block;
    width: 100%;
    height: 100px;
}

.box > .box-body {
    position: relative;
    display: block;
    width: 100%;
    margin: 8px 10px;
}

.box-body > .title {
    display: block;
    width: 161px;
    height: 44px;
    font-size: 13px;
    line-height: 18px;
    color: #3B3B3B;
}

.note {
    font-size: 13px;
    line-height: 16px;
    color: #A2A2A2;
}

.time {
    display: flex;
    height: 16px;
    align-items: center;
}

.time::before {
    content: url("../images/icon.png");
    display: flex;
    width: 15px;
    height: 14px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.main {
    width: 100%;
}

.main-body {
    width: 1126px;
    margin: 30px auto;
}

.main-body > .contents {
    width: 779px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #3B3B3B;
    margin-bottom: 14px;
}

section.side > .section-title {
    font-size: 18px;
    line-height: 23px;
}

.contents .wrap {
    width: 100%;
    flex-wrap: wrap;
    min-height: 300px;
}

.contents .more {
    width: 100%;
}

.more button {
    margin: 30px auto;
    width: 110px;
    height: 38px;
    border: none;
    background: #3081C9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.more button:hover {
    background: #3081A1;
}

.wrap .article {
    position: relative;
    width: 380px;
    height: 118px;
    border-bottom: 1px solid #E4E4E4;
}

.article .title {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 265px;
    height: 66px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #3B3B3B;
    display: flex;
    align-items: flex-start;
}

.article .image {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100px;
}

.article .timer {
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: flex;
    align-items: center;
}

.article > .timer > .info {
    font-size: 13px;
    line-height: 13px;
    color: #A2A2A2;
    margin-left: 10px;
}

.main-body > .side {
    width: 312px;
    height: 200px;
}

.side .keywords {
    margin-top: 30px;
    width: 100%;
}

.side .keywords::after {
    content: '';
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 5px;
    background: #e4e4e4;
}

.badge {
    background-color: #F1F1F1;
    border-radius: 13px;
    padding: 4px 10px;
    margin: 4px;
}

.badge, a.see-more {
    font-size: 12px;
    line-height: 22px;
    color: #3B3B3B;
}

.badge-more {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    display: block;
    padding: 40px 0px 10px 0px;
    margin-top: 50px;
    background: #FAFAFA;
}

.footer-body {
    width: 1126px;
    margin: 0px auto;
}

.footer-body > .list {
    width: 100%;
    padding: 0px;
}

.footer-body > .footer-term {
    width: 100%;
    display: block;
}

.footer-term ul.list {
    padding: 16px 0px 18px 0px;
    justify-content: flex-start;
}

.footer-term ul.list>li>a {
    margin-right: 20px;
    color: #797979;
}

.footer-body > .copy-right {
    font-size: 12px;
    line-height: 12px;
    color: #797979;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-list::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin-top: 20px;
    border: none;
}

.col-3 {
    width: 281px;
}